<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>MangaShop - Sandru's shop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta property="og:title" content="Magazin vanzare manga online"/>
		<meta name="og:description" content="Poti cumpara manga online la un pret foarte redus"/>
		<meta property="og:image" content="themes/images/logo.jpeg"/>
		
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="themes/css/bootstrappage.css" rel="stylesheet"/>
		
		
		<link href="themes/css/flexslider.css" rel="stylesheet"/>
		<link href="themes/css/main.css" rel="stylesheet"/>

	
		<script src="themes/js/jquery-1.7.2.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>				
		<script src="themes/js/superfish.js"></script>	
		<script src="themes/js/jquery.scrolltotop.js"></script>
	</head>
	
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. Attack on titan">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="index">Acasa</a></li>
							<li><a href="Produse">Produse</a></li>
							<li><a href="promotii">Promotii</a></li>
							<li><a href="CosulMeu">Cosul Meu</a></li>					
							<li><a href="Logare">Logare</a></li>	
							<li><a href="Recenzii">Recenzii</a></li>
							<% if(esteAdmin === false){ %>
								<li><a href="Administrare" id="ascunde" style="display: none" >Administrare</a></li>
							<% } else{ %>
								<li><a href="Administrare" id="ascunde" style="display: block" >Administrare</a></li>
							<% } %>	
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">				
					<a href="index" class="logo pull-left"><img src="themes/images/logo.jpeg" class="site_logo" alt=""></a>
			</section>				
			<section class="header_text sub">
			<img class="pageBanner" src="themes/images/banners/banner-2.jpeg" alt="New products" >
				<h4><span>Cosul meu</span></h4>
			</section>
							
				<div class="row">
					<form action="/CosulMeu" method="POST">
					<div class="span9">					
						<h4 class="title"><span class="text"><strong>Cosul</strong> meu</span></h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Elimina</th>
									<th>Imagine</th>
									<th>Numele prosudului</th>
									<th>Cantitate</th>
									<th>Pret pe unitate</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<% suma = 0; livrare = 0;%>
								<% for(var i=0; i<produse.length; i++) {%>
									<tr>
										<td><a href="/scoate/<%=produse[i]._id%>" ><button type="button">Sterge</button></a></td>
										<td><a href="detalii_produs/<%=produse[i]._id%>"><img alt="" src="<%=produse[i].imagine%>" ></a></td>
										<td><%=produse[i].nume%></td>
										<% if(!cantitate.length){ %>
											<td>
												<label for="cantitate"></label>
												<input type="text" id="cantitate" placeholder="1" class="input-mini" name="cantitate">
											</td>
											<% suma = suma + produse[i].pret; %>
										<% } else{ %>
											<td>
												<label for="cantitate"></label>
												<input type="text" id="cantitate" placeholder="<%=cantitate[i]%>" class="input-mini" name="cantitate">
											</td>
											<% suma = suma + cantitate[i] * produse[i].pret; %>
										<% } %>
										<td><%= produse[i].pret %>  lei</td>
										<% if(!cantitate.length){ %>
											<td><%= produse[i].pret %>  lei</td>
										<% } else{ %>
											<td><%= cantitate[i] * produse[i].pret %>  lei</td>
										<% } %>
									</tr>
								<% } %>
								<% if(suma > 150) { %>
								<%	 livrare = 50 %>
								<% } %>

								<tr>
									<td>Cost livrare: <%=livrare%></td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td>&nbsp;</td>
									<td><strong>Total <%= suma + livrare%> lei</strong></td>
								</tr>		  
							</tbody>
						</table>
						<h4>Ce ai vrea sa faci in continuare?</h4>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<% if(suma != 0) { %>
						<p class="buttons center">				
							<button class="btn" type="submit">Update</button> 
							<button class="btn btn-inverse" type="button"> <a href="Plata">Finalizeaza comanda</a> </button>
						</p>
						<% } %>					
					</div>
					</form>
					<div class="span3 col">
						<div class="block">	
							<ul class="nav nav-list">
								<li class="nav-header">SUBCATEGORII</li>
								<li><a href="Produse">Shonen manga</a></li>
								<li class="active"><a href="products">Josei manga</a></li>
								<li><a href="Produse">Echi manga</a></li>
								<li><a href="Produse">Novels</a></li>
								<li><a href="Produse">Cele mai populare</a></li>
								<li><a href="Produse">Produse la reducere</a></li>
							</ul>
							<br/>
							<ul class="nav nav-list below">
								<li class="nav-header">Autori</li>
								<li><a href="Produse">Ishida Isui</a></li>
								<li><a href="Produse">Miura Kentaro</a></li>
								<li><a href="Produse">Yoshihiro Togashi</a></li>
								<li><a href="Produse">Naoki Urasawa</a></li>
							</ul>
						</div>
						<div class="block">
							<h4 class="title">
								<span class="pull-left"><span class="text">Produse random</span></span>
								<span class="pull-right">
									<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
								</span>
							</h4>
							<div id="myCarousel" class="carousel slide">
								<div class="carousel-inner">
									<div class="active item">
										<ul class="thumbnails listing-products">
											<li class="span3">
												<div class="product-box">
													<p><a href="detalii_produs"><img src="themes/images/manga_images/VindlandSaga.jpg" alt="" /></a></p>
													<a href="detalii_produs" class="title">Vindland saga</a><br/>
													<a href="Produse" class="category">Vezi produse</a>
													<p class="price">22.30 lei</p>
												</div>
											</li>
										</ul>
									</div>
									<div class="item">
										<ul class="thumbnails listing-products">
											<li class="span3">
												<div class="product-box">
													<p><a href="detalii_produs"><img src="themes/images/manga_images/ThePromisedNeverland.jpg" alt="" /></a></p>
													<a href="detalii_produs" class="title">The promised neverland</a><br/>
													<a href="Produse" class="category">Vezi produse</a>
													<p class="price">40.25 lei</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>			
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigheaza</h4>
						<ul class="nav">
							<li><a href="./Contact">Contacteaza-ma</a></li>	
							<li><a href="./index">Acasa</a></li>
							<li><a href="./CosulMeu">CosulMeu</a></li>
							<li><a href="./Plata">Plata</a></li>					
							<li><a href="./Logare">Logare</a></li>						
						</ul>					
					</div>
					<div class="span4">
						<h4>Contul meu</h4>
						<ul class="nav">
							<li><a href="#">Contul meu</a></li>
							<li><a href="#">Istoricul cumparaturilor</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section>
			<section id="copyright">
				<span>Copyright 2020 Sandru Marius-Constantin.</span>
			</section>
		</div>
		<script src="themes/js/common.js"></script>
		<script>
			$(document).ready(function() {
				$('#checkout').click(function (e) {
					document.location.href = "checkout";
				})
			});
		</script>		
    </body>
</html>